{% extends "base.html" %} {% block title %}Edit {{user.get_full_name()}} Page{%
endblock %} {% block content %}
<h1>Edit User - {{user.get_full_name()}}</h1>
<form class="ui form" action="/users/{{user.id}}/edit" method="POST">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" value="{{user.first_name}}" />
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" value="{{user.last_name}}" />
  </div>
  <div class="field">
    <label>Profile Image URL</label>
    <input type="text" name="image-url" value="{{user.image_url}}" />
  </div>
  <a class="ui button" href="/users/{{user.id}}">Cancel</a>
  <button class="ui primary button" type="submit">Submit</button>
</form>
{% endblock %}
