{% extends "base.html" %} {% block title %}{{user.get_full_name}} Page{%
endblock %} {% block content %}
<h1>Page for {{user.get_full_name}}</h1>
<div class="ui items">
  <div class="item">
    <a class="ui tiny image">
      <img src="{{user.image_url}}" />
    </a>
    <div class="content">
      <a class="header">{{user.get_full_name}}</a>
      <div class="description">
        <p>{{user.greet()}}</p>
      </div>
      <div class="extra">
        <a class="tiny ui blue button" href="/users/{{user.id}}/edit">Edit</a>
        <a class="tiny ui red button" href="/users/{{user.id}}/delete"
          >Delete</a
        >
        <a class="ui right floated button" href="/users">
          All Users <i class="right chevron icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
